.page-template-page-templatestemplate-home-php {
    
  #main,
  #primary,
  #secondary {
    @include fill-parent;
    margin: 0;
    padding: 0;
  }

  #page {
    @include outer-container(100%);
  }
  .site-main [class*="navigation"],
  #comments,
  footer,
  #primary-nav {
	  @include outer-container;
	  float: none;
  }
  
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

    $modular-scale-ratio: $augmented-fourth;
    $modular-scale-base: .938em;
    $gutter: 0 !default;
    $os: 'Open Sans', sans-serif;
    $keg: 'kegger-us', serif;

    h4 {
        font-family: $os;
        font-weight: 400;
        font-size: modular-scale(3);
        text-transform: capitalize;
    }
    h3 {
        font-family: $keg;
        font-size: modular-scale(4);
        text-transform: capitalize;
    }
    h1 {
        font-family: $keg;
        font-size: modular-scale(5);
        text-transform: capitalize;
    }
}