.page-template-page-templatestemplate-full-width-php {

    #main,
    #primary,
    #secondary {
        @include fill-parent;
        margin: 0;
        padding: 0;
    }

    #page {
        @include outer-container(100%);
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

        @mixin circle($width, $color) {
            width: $width;
            height: $width;
            background: $color;
            -webkit-border-radius: $width/2;
               -moz-border-radius: $width/2;
                    border-radius: $width/2;
        }
        
        @mixin vertical-align {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        $modular-scale-ratio: $augmented-fourth !global;
        $modular-scale-base: 1em !global;
        $gutter: 0em !global;
        $os: 'Open Sans', sans-serif;
        $keg: 'kegger-us', serif;
        $heromnht: 368px;
        $heromnwd: 768px;
        $shiftbig: -60px;
        $shiftsmall: -50px;
        
        $white: #ffffff;
        $gray0: #8e8e8e;
        $gray1: #dcddde;
        $gray2: #d1d3d4;
        $gray3: #c7c8ca;
        $red: #d52027;
        $blue: #03518c;
        $lightblue: #76bbef;

        /* responsive breakpoints */
        $mobilesm: new-breakpoint(max-width 480px);
        $mobile: new-breakpoint(min-width 481px max-width 768px);
        $tablet: new-breakpoint(min-width 769px max-width 1000px);
        $largetab: new-breakpoint(min-width 1001px max-width 1162px);
        $laptop: new-breakpoint(min-width 1163px max-width 1310px);
        $desktop: new-breakpoint (min-width 1311px max-width 1620px);
        $wide: new-breakpoint(min-width 1621px);
        
        $stack-column: new-breakpoint(max-width 1000px);
        $multi-column: new-breakpoint(min-width 1001px);
        
        .menu {
            float: right;
            text-align: right;
            display: inline;
            margin-right: 50px;
            @include media($mobilesm){
                display:none;
                margin-right: 0px;
                padding-left: 0px;
            }
            @include media($mobile){
                display: none;
                margin-right: 0px;
                padding-left: 0px;
            }
            li {
                display: inline-block;
                padding-left: 75px;
                @include media($mobilesm) {
                    display: inline-block;
                    text-align: center;
                    padding-left: 0px;
                }
                @include media($mobile) {
                    display: inline-block;
                    padding-left: 0px;
                }
                @include media($tablet) {
                    display: inline-block;
                    padding-left: 55px;
                }
                @include media($largetab) {
                    padding-left: 65px;
                }
                @include media($laptop) {
                    display: inline-block;
                }
                @include media($desktop) {
                    display: inline-block;
                }
                @include media($wide) {
                    display: inline-block;
                }
                a {
                    font-family: $os;
                    font-weight: 600;
                    font-size: modular-scale(1,1em);
                    color: $white;
                }
                a[href="#contact"] {
                    color: $blue;
                }
                a:hover, a:active {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
        .menu-top-links-container {
            
            #menu-icon {
                display: none;
                width: 40px;
                height: 40px;
                background: $blue center;
            }
            a:hover#menu-icon {
                background-color: $gray3;
                border-radius: 4px 4px 0 0;
            }
            
            position: relative;
            top: -150px;
            /*top: 5%;*/
            @include media($mobilesm) {
                top: -67px;
                #menu-icon {
                    display:inline-block;
                    float: right;
                    margin-right: 20px;
                }
            }
            @include media($mobile) {
                top: -67px;
                #menu-icon {
                    float: right;
                    margin-right: 20px;
                    display: inline-block;
                }
            }
            @include media($tablet) {
                top: -87px;
            }
            @include media($largetab) {
                top: -107px;
            }
            @include media($laptop) {
                top: -127px;
            }
            @include media($desktop) {
                top: -147px;
            }
            @include media($wide) {
                top: -167px;
            }
        }
        nav ul, nav:active ul {
            @include media($mobilesm){
                display: none;
                position: absolute;
                background: $gray3;
                border: 5px solid $blue;
                right: 20px;
                top: 40px;
                width: 50%;
                border-radius: 4px 0 4px 4px;
            }
            @include media($mobile){
                display: none;
                position: absolute;
                background: $gray3;
                border: 5px solid $blue;
                right: 20px;
                top: 40px;
                width: 50%;
                border-radius: 4px 0 4px 4px;
            }
        }

        nav li {
            @include media($mobilesm){
                text-align: center;
                width: 100%;
                padding: 10px 0;
                margin: 0;
            }
            @include media($mobile){
                text-align: center;
                width: 100%;
                padding: 10px 0;
                margin: 0;
            }
        }

        
        @include media($mobilesm){
            nav ul {
                display: none;
            }
            nav:hover ul {
                display: block;
            }
        }
        @include media($mobile){
            nav ul {
                display: none;
            }
            nav:hover ul {
                display: block;
            }
        }
        .more-toggle, .close-more {
            font-variant: small-caps;
            font-size: 75%;
            color: $blue;
            font-weight: 700;
        }
        .more-toggle:hover, .close-more:hover {
            color: $blue;
        }
        .toggle-text, .close-more {
            display: none;
        }
        .hero {
            min-height: $heromnht;
            background-size: cover;
        }
        .ica-logo {
            padding-left: 3%;
            padding-top: 3%;
            width: 28%;
            min-width: 200px;
        }
        p, .body, .about-body {
            font-family: $os;
            font-weight: 300;
            font-size: modular-scale(1,.8em);
            line-height: 1.5em;
            @include media($mobilesm) {
                font-size: modular-scale(1,.61em);
            }
            @include media($mobile) {
                font-size: modular-scale(1,.61em);
            }
            @include media($tablet) {
                font-size: modular-scale(1,.61em);
            }
            @include media($largetab) {
                font-size: modular-scale(1,.61em);
            }
            @include media($laptop) {
                font-size: modular-scale(1,.7em);
            }
            @include media($desktop) {
                font-size: modular-scale(1,.8em);
            }
            @include media($wide) {
                font-size: modular-scale(1,.9em);
            }
        }
        h4 {
            font-family: $os;
            font-weight: 400;
            color: $gray0;
            text-transform: uppercase;
            font-size: modular-scale(2,.9em);
            line-height: 1em;
            margin-top: 15px;
            @include media($mobilesm) {
                font-size: modular-scale(2,.4em);
            }
            @include media($mobile) {
                font-size: modular-scale(2,.5em);
            }
            @include media($tablet) {
                font-size: modular-scale(2,.6em);
            }
            @include media($largetab) {
                font-size: modular-scale(2,.7em);
            }
            @include media($laptop) {
                font-size: modular-scale(2,.8em);
            }
            @include media($desktop) {
                font-size: modular-scale(2,.9em);
            }
            @include media($wide) {
                font-size: modular-scale(2,1em);
            }
        }
        h3 {
            letter-spacing: 3px;
            font-family: $keg;
            font-weight: normal;
            font-size: modular-scale(3,.9em);
            line-height: 1em;
            text-transform: uppercase;
            @include media($mobilesm) {
                font-size: modular-scale(3,.4em);
            }
            @include media($mobile) {
                font-size: modular-scale(3,.5em);
            }
            @include media($tablet) {
                font-size: modular-scale(3,.6em);
            }
            @include media($largetab) {
                font-size: modular-scale(3,.7em);
            }
            @include media($laptop) {
                font-size: modular-scale(3,.8em);
            }
            @include media($desktop) {
                font-size: modular-scale(3,.9em);
            }
            @include media($wide) {
                font-size: modular-scale(3,1em);
            }
        }
        h1 {
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 25%;
            @include pad(0 0 10% 0);
            text-align: center;
            line-height: 1em;
            font-family: $keg;
            font-size: modular-scale(5,.7em);
            font-weight: normal;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $white;
            @include media($mobilesm) {
                font-size: modular-scale(5,.25em);
                @include pad(10px 0 10px 0);
                margin-top: 28%;
            }
            @include media($mobile) {
                font-size: modular-scale(5,.3em);
                margin-top: 20%;
                @include pad(10px 0 15% 0);
            }
            @include media($tablet) {
                font-size: modular-scale(5,.4em);
                @include pad(0 0 10% 0);
            }
            @include media($largetab) {
                font-size: modular-scale(5,.5em);
            }
            @include media($laptop) {
                font-size: modular-scale(5,.6em);
            }
            @include media($desktop) {
                font-size: modular-scale(5,.7em);
            }
            @include media($wide) {
                font-size: modular-scale(5,.8em);
            }
        }
        
        a {
            color: $red;
        }
        a:hover {
            color: $red;
        }
        .svc-c-1, .svc-c-2, .svc-c-3 {
            position: relative;
            margin: 0 auto;
            position: relative;
            top: $shiftsmall;
            @include pad(25px 0 0 0);
        }
        .svc-c-1 {
            @include circle(100px,$gray1);
        }
        .svc-c-2 {
            @include circle(100px,$gray2);
        }
        .svc-c-3 {
            @include circle(100px,$gray3);
        }
        .bubbles {
            @include fill-parent();
            @include row(table);
            position: relative;
            z-index: 100;
            img {
                position: relative;
                top: 30px;
            }
        }
        .bubble-1, .bubble-2, .bubble-3 {
            position: relative;
            top: $shiftbig;
            text-align: center;
            @include media($stack-column){
                
            }
            @include media($multi-column){
                @include span-columns(4);
                position: relative;
                top: $shiftsmall;
            }
        }
        .services {
            @include fill-parent();
            @include row(table);
        }
        .service-1, .service-2, .service-3 {
            text-align: center;
            position: relative;
            @include media($stack-column){
                top: $shiftsmall;
                h3 {
                    top: -70px;
                }
                h4 {
                    top: -70px;
                }
            }
            @include media($multi-column){
                @include span-columns(4);
                top: $shiftsmall;
                h3 {
                    top: -50px;
                }
                h4 {
                    top: -50px;
                }
            }
            
            padding-left: 22px;
            padding-right: 22px;
            h3 {
                position: relative;
                margin-bottom: 0px;
                margin-top: 0px;
                
            }
            h4 {
                position: relative;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .service-1 {
            @include media($stack-column){
                top: $shiftsmall;
            }
            @include media($multi-column){
                top: $shiftsmall;
            }
        }
        .service-2 {
            @include media($stack-column){
                top: $shiftbig - 5px;
            }
            @include media($multi-column){
                top: $shiftsmall;
            }
        }
        .service-3 {
            @include media($stack-column){
                top: $shiftbig - 20px;
            }
            @include media($multi-column){
                top: $shiftsmall;
            }
        }
        .post-body {
            position: relative;
            
            @include media($stack-column){
                top: -70px;
            }
            @include media($multi-column){
                top: -50px;
            }
            p {
                text-align: center;
                margin-top: 5px;
            }
        }
        .service-1 {
            background-color: $gray1;
        }
        .service-2 {
            background-color: $gray2;
        }
        .service-3 {
            background-color: $gray3;
        }        
        .abouts {
            @include fill-parent;
            @include row();
            h3 {
                margin-top: 0px;
            }
            h4 {
                margin-bottom: 0px;
            }
        }
        .abouts-left, .abouts-right {
            @include media($stack-column){
                @include span-columns(12, "block-collapse");
                width: 100%;                
            }
            @include media($multi-column){
                @include span-columns(6, "block-collapse");
                width: 50% !important;
            }
        }
        .abouts-right.indent {
            float: right;
            @include media($stack-column){
                width: 100% !important;
            }
            @include media($multi-column){
                width: 50% !important;
            }
        }
        #about {
            @include media($stack-column){
                position: relative;
                top: -50px;
            }
        }
        .inset-triangle-left {
            position: absolute;
            top: 1750px;
            left: 921px;
            width: 0;
            height: 0;
            border-top-width: 79px;
            border-top-color: transparent;
            border-top-style: solid;
            border-bottom-width: 79px;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-right-width: 79px;
            border-right-color: $white;
            border-right-style: solid;
          }
        .about-blue {
            @include media($stack-column){
                
            }
            @include media($multi-column){
                @include span-columns(6, "block-collapse");
            }
            background-color: $blue;
        }
        .abouts-wrap {
            /*@include pad(50px 0px 0px 0px);*/
            @include media($stack-column){
                @include span-columns(12, "block-collapse");
                width: 100%;
                @include clearfix;
            }
            @include media($multi-column){
                @include span-columns(6, "block-collapse");
                width: 50%;
            }
            .about-icon {
                @include span-columns(1.5 of 6, "block-collapse");
                margin-top: 70px;
                @include pad(0px 0px 0px 70px);
                
                @include media($stack-column){
                    @include span-columns(5 of 12, "block-collapse");
                }
                
                @include media($mobilesm) {
                   @include span-columns(5 of 12, "block-collapse");
                    margin-top: 30px;
                }
                @include media($mobile) {
                    @include span-columns(5 of 12, "block-collapse");
                    margin-top: 30px;
                }
                @include media($tablet) {
                    @include span-columns(5 of 12, "block-collapse");
                    margin-top: 30px;
                }
                @include media($largetab) {
                    @include span-columns(2 of 6, "block-collapse");
                    margin-top: 30px;
                }
                @include media($laptop) {
                    @include span-columns(2 of 6, "block-collapse");
                    margin-top: 30px;
                }
                @include media($desktop) {
                    @include span-columns(1.5 of 6, "block-collapse");
                    margin-top: 50px;
                }
                @include media($wide) {
                    @include span-columns(1.1 of 6, "block-collapse");
                    margin-top: 98px;
                }
            }
            .about-heads {
                @include span-columns(4 of 6, "block-collapse");
                h3 {
                    margin-bottom: 5px;
                }
                h4 {
                    margin-top: 70px;
                }
                @include pad(0px 0px 0px 20px);
                @include media($stack-column){
                    @include span-columns(6 of 12, "block-collapse");
                }
                @include media($mobilesm) {
                    @include span-columns(6 of 12, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 30px;
                    }
                }
                @include media($mobile) {
                    @include span-columns(6 of 12, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 30px;
                    }
                }
                @include media($tablet) {
                    @include span-columns(6 of 12, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 30px;
                    }
                }
                @include media($largetab) {
                    @include span-columns(3.5 of 6, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 30px;
                    }
                }
                @include media($laptop) {
                    @include span-columns(3.5 of 6, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 30px;
                    }
                }
                @include media($desktop) {
                    @include span-columns(4 of 6, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 50px;
                    }
                }
                @include media($wide) {
                    @include span-columns(4.5 of 6, "block-collapse");
                    h3 {
                        margin-bottom: 5px;
                    }
                    h4 {
                        margin-top: 90px;
                    }
                }
                
                
                @include clearfix;
            }
            .about-body {
                @include media($stack-column){
                    @include span-columns(12 of 12, "block-collapse");
                }
                @include media($multi-column){
                    @include span-columns(6 of 6, "block-collapse");
                }
                @include pad(0px 50px 10px 70px);
            }
        }
        .white {
            color: $white;
        }
        .blue {
            color: $blue;
        }
        .blue-back {
            background-color: $blue;
        }
        .indent {
            padding-left: 30px;
            padding-right: 30px;
        }
        .row-space {
            height: 50px;
        }
        .row-space-sm {
            height: 20px;
        }
        .about-body {
            margin-top: 5px;
            margin-bottom: 50px;
        }
        
        .map-wrap {
            @include fill-parent;
            @include row();
        }
        .acf-map {
            @include media($stack-column){
                width: 100% !important;
            }
            @include media($multi-column){
                @include span-columns(6, "block-collapse");
                width: 50% !important;
            
            }
            height: 400px;
            border: #ccc solid 1px;
            margin: 0 auto;
        }
        /* fixes potential theme css conflict */
        .acf-map img {
           max-height: none;
           min-height: 100%;
           min-width: auto;
           vertical-align: middle;
        }
        .contact {
            @include media($stack-column){
                
            }
            @include media($multi-column){
                @include span-columns(6, "block-collapse");
            }
            h4 {
                margin-top: 25px;
                margin-bottom: 0px;
            }
            h3 {
                margin-top: 0px;
                margin-bottom: 10px;
            }
            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .semibold {
                font-weight: 600;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .phone-icon {
                position: relative;
                top: .5em;
                img {
                    width: 31px;
                    @include media($mobilesm) {
                        width: 22px;
                    }
                    @include media($mobile) {
                        width: 24px;
                    }
                    @include media($tablet) {
                        width: 26px;
                    }
                    @include media($largetab) {
                        font-size: modular-scale(1,.6em);
                    }
                    @include media($laptop) {
                        width: 28px;
                    }
                    @include media($desktop) {
                        width: 30px;
                    }
                    @include media($wide) {
                        width: 32px;
                    }
                }
            }
            .bold {
                font-weight: 700;
            }
        }
        .clearit {
            @include clearfix;
        }
        .ica-footer {
            @include span-columns(12 of 12,'block-collapse');
            color: $white;
            p {
                float: left;
                font-size: modular-scale(1,.9em);
                
                @include media($mobilesm) {
                    font-size: modular-scale(1,.4em);
                }
                @include media($mobile) {
                    font-size: modular-scale(1,.5em);
                }
                @include media($tablet) {
                    font-size: modular-scale(1,.6em);
                }
                @include media($largetab) {
                    font-size: modular-scale(1,.7em);
                }
                @include media($laptop) {
                    font-size: modular-scale(1,.8em);
                }
                @include media($desktop) {
                    font-size: modular-scale(1,.9em);
                }
                @include media($wide) {
                    font-size: modular-scale(1,1em);
                }
            }
            a {
                color: $lightblue;
                font-weight: 700;
            }
            a:hover {color: $lightblue;}
            #bee {
                float: right;
                @include pad(1% 0 0 0);
            }
        }
    }
    .site-main [class*="navigation"],
        #comments,
        footer,
        #primary-nav {
            @include outer-container;
            float: none;
    }
  
        

}
